.App {
  text-align: center;
  background-color: #70c7df;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  width: 400px;
  height: 420px;
  border-radius: 8px;
  justify-content: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container{
  vertical-align: center;
  /*box-sizing: inherit;*/
  
}
.Field{
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding-right: 8px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.Input-field{
  width: 348px;
  height: 25px;
  justify-content: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.Button{
  width: 68px;
  height: 30px;
  font-size: 16px;
  border-radius: 4px;
  
}

@media screen and (max-width: 600px) {
  .App {
    text-align: center;
    background-color: #70c7df;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    height: 20%;
    border-radius: 8px;
    justify-content: right;
    font-size: 12px;
  }

  .Field{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding-right: 8px;
    display: flex;
    margin-left: 8px;
  }

  .Input-field{
    width: 90%;
    height: 25px;
    justify-content: center;
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 15px;
    border-radius: 5px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
